<a href="https://colab.research.google.com/github/adamk505/data-and-python/blob/main/Copy_of_DataTypes_Practice1_fin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/StefanMeyer7/Python-Fundamentals/blob/main/DataTypes_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data types and Variables
---


**Recap**: Variables can store data of different types.  
*   **int** (whole numbers, e.g. 4, 523, 1984)  
*   **float** (decimal numbers e.g. 4.3, )  
*   **str** (strings of characters)  
*   **bool** (True or False)  

and can be stored in groups (**lists, tuples, dictionaries,** etc)

You can '**assign**' a value to a variable using the **=** sign.

Once a variable has been assigned a value it will decide what type it is from that value. For example:  
firstname = “Monty”  
age = 20  

*firstname* is now a *str* variable (a string of characters) *age* is now an *int* variable (a whole number)  

Once a variable knows its type you will only be able to use it for processes that are relevant to that type. For example, you won't be able to add firstname and age together because firstname is a word and age is a number. You would, however, be able to add 1 to the age  

age = age + 1  

age is now 1 bigger than it was before

## Using variables of different types and functions
----
### Exercise 1
The cell below contains a function. Functions are named sets of instructions that do one particular thing, often creating a new set of data but sometimes just setting something up.  

A function starts with the keyword def (short for define or definition). All instructions below the definition are indented and this indicates that they are part of that function. A function runs when its name is used outside the function (here it is not indented). The indentation is important, note where the code is and isn't indented.  

*  create a variable called **name** and assign it a value (any name)  
*  print the message “Hello” name  
*  change the value of `name` and run the code again to get a new message

In [12]:
def print_welcome():
   # create the variable called name below here (indented like this line) and add the instruction print("Hello",name)
  name="Bob"
  print("Hello",name)

print_welcome()

Hello Bob

----
### Exercise 2
*  create two variables **num1** and **num2** and assign them each a whole number  
*  create a third variable **total** which will store the sum of num1 + num2  
*  run the code.  

Change the value of one of the numbers and run the code again to get new messages and a new total.

In [33]:

def print_total():
  # add your code below here
  num1=10
  num2=15
  total=num1+num2


  print(num1, "+", num2, "=", total)

print_total()

10 + 15 = 25

---
### Exercise 3 - variables of different types
*  create a variable called **name** and assign it the value "Billy"  
*  create a variable called **age** and assign it the value 18  
*  print a message "Hello `name` you are `age` years old"

Test input:  
Billy  
18  

Expected output:  
Hello Billy you are 18 years old

In [39]:
def print_info():
   # add your code below here
  name="Billy"
  age=18
  print("Hello", name + ", " "you are", age, "years old.")


print_info()

Hello Billy, you are 18 years old.

---
### Exercise 4 - float variables (and writing your own function)
Write a function called **print_price()** which will:  

*  create a variable called **product** and assign the value "Chocolate Bar"  
*  create a variable called **cost** and assign the value 1.39  
*  print the message `product`, "costs", "£", `cost`  

Expected output:  
Chocolate Bar costs £ 1.39

In [46]:
product="Chocolate Bar"
cost=1.39
print(product, "costs", "£",cost)

Chocolate Bar costs £ 1.39

---
### Exercise 5 - concatenating strings
Write a function called **print_full_name()** which will:  

*  create variable called **name** and assign it the value "Monty"  
*  create a variable called **surname** and assign it the value "Python"  
*  create a variable called **full_name** and assign it the value `name` + " " + `surname`  
*  print the `full_name`  

Expected output:  
Monty Python

In [44]:
name="Monty"
surname="Python"
full_name=(name + " " + surname)
print(full_name)

Monty Python